.col-md-4
          .card.text-center
            .card-header.bg-dark.text-white
              h3 Services Plan
            .card-body
              h4.card-title
                | &59.55/Month
              p.card-text
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, obcaecati.
              ul.list-group
                li.list-group-item
                  i.fas.fa-check.text-left  Feature One
                li.list-group-item
                  i.fas.fa-check  Feature Two
                li.list-group-item
                  i.fas.fa-check  Feature Three
                li.list-group-item
                  i.fas.fa-check  Feature Four
                li.list-group-item
                  i.fas.fa-check  Feature Five
              a.btn.btn-danger.btn-block.mt-2(href='#') Get It
            .card-footer.text-muted
              | 1 Year Plan
        //- // End of container of card
        .col-md-4
          .card.text-center
            .card-header.bg-dark.text-white
              h3 Services Plan Two
            .card-body
              h4.card-title
                | &99.55/Month
              p.card-text
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, obcaecati.
              ul.list-group
                li.list-group-item
                  i.fas.fa-check.text-left  Feature One
                li.list-group-item
                  i.fas.fa-check  Feature Two
                li.list-group-item
                  i.fas.fa-check  Feature Three
                li.list-group-item
                  i.fas.fa-check  Feature Four
                li.list-group-item
                  i.fas.fa-check  Feature Five
              a.btn.btn-danger.btn-block.mt-2(href='#') Get It
            .card-footer.text-muted
              | 1 Year Plan
        //- // End of container of card
        .col-md-4
          .card.text-center
            .card-header.bg-dark.text-white
              h3 Services Plan Three
            .card-body
              h4.card-title
                | &120.55/Month
              p.card-text
                | Design overall architecture of the web application.
              ul.list-group.text-left
                li.list-group-item
                  i.fas.fa-check.text-left  Maintain quality and ensure responsiveness of applications.
                li.list-group-item
                  i.fas.fa-check  Maintain code integrity and organisation.
                li.list-group-item
                  i.fas.fa-check  Implementation of security and data protection.
                li.list-group-item
                  i.fas.fa-check  Feature Four
                li.list-group-item
                  i.fas.fa-check  Design and launch new features.
              //- a.btn.btn-danger.btn-block.mt-2(href='#') Get It
            .card-footer.text-muted
              | 1 Year Plan
        //- // End of container of card